<% include ../layout/header.ejs %>
<form action="" method="post">
    <table class="table table-bordered">
        <tr>
            <th>이름</th>
            <td><input type="text" name="name" class="form-control" value="<%=list.name%>"/></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td><input type="text" name="phoneNumber" class="form-control" value="<%=list.phoneNumber%>"/></td>
        </tr>
        <tr>
            <th>설명</th>
            <td><input type="text" name="description" class="form-control" value="<%=list.description%>"/></td>
        </tr>
    </table>
    <button class="btn btn-primary">작성하기</button>
</form>

<% include ../layout/footer.ejs %>